body {
    background: rgb(220,220,220);
    font-family: sans-serif;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}
    body > header {
        background: rgb(0,0,0);
        color: rgb(200,200,200);
        padding: 10px;
        text-align: center;
    }
    body > footer {
        padding: 10px;
        text-align: center;
    }

section {
    background: rgb(255,255,255);
    border-bottom: 1px rgb(200,200,200) solid;
    padding: 10px;
}

h1 {
    font-size: 2.2em;
    font-weight: normal;
    letter-spacing: 0.1em;
    margin: 0px;
    padding-top: 20px;
}

h2 {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0px;
    padding: 10px 0px;
    text-align: center;
}

h3 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 0px;
    padding: 10px 0px;
}


a:link, a:visited {
    color: rgb(0,0,0);
}

a:focus, a:hover {
    text-decoration: none;
}


.active-pitch {
    background: linear-gradient(
        to bottom,
        rgb(200,200,180) 0%,
        rgb(240,240,150) 100%
    );
    border: 1px rgb(100,100,100) solid;
}

.inactive-pitch {
    background: rgb(255,255,255);
    border: 1px rgb(200,200,200) solid;
    color: rgb(170,170,170);
}

.root-pitch {
    background: linear-gradient(
        to bottom,
        rgb(130,180,130) 0%,
        rgb(180,240,180) 100%
    );
    border: 1px rgb(100,100,100) solid;
}

.form-group {
    display: inline-block;
    margin-bottom: 10px;
    padding: 0px 5px;
}

.instrument-markers,
.instrument-string {
    margin: 2px 0px;
    padding: 0px;
    text-align: center;
    white-space: nowrap;
}
    .instrument-markers li {
        display: inline-block;
        margin: 0px 1px;
        width: 60px;
    }
    .instrument-string li {
        display: inline-block;
        margin: 0px 1px;
        padding: 5px 0px;
        width: 60px;
    }
    .instrument-string li:first-child {
        padding: 2px;
        width: 100px;
    }
    .instrument-markers li:first-child {
        border: 0px;
        padding: 2px;
        width: 100px;
    }
    .instrument-markers strong {
        color: rgb(50,50,50);
        font-size: 1.4em;
    }

.tuner-form {
    display: flex;
    width: 100%;
}
    .tuner-form > select {
        flex-grow: 2;
    }
    .tuner-form > input {
        flex-grow: 1;
    }

#app-settings {
    text-align: center;
}
    #app-settings > form, #app-settings > nav {
        display: inline-block;
        padding: 0px 10px 10px 10px;
    }
    #app-settings button, #app-settings label {
        margin: 5px;
    }

#fretboard {
    overflow: auto;
    padding: 0px 0px 10px 0px;
    width: 100%;
}

#keyboard {
    list-style-type: none;
    margin: 0px;
    overflow: auto;
    padding: 0px 0px 10px 0px;
    text-align: center;
    white-space: nowrap;
    width: 100%;
}
    #keyboard li {
        border: 1px rgb(100,100,100) solid;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        display: inline-block;
        margin: 0px 1px;
        padding: 150px 5px 10px 5px;
        position: relative;
        vertical-align: top;
        width: 30px;
    }
        #keyboard li.key-ebony {
            margin-left: -21px;
            padding-top: 100px;
            z-index: 1000;
        }
        #keyboard li.pull-left {
            margin-left: -21px;
        }
