body {
    background: rgb(220,220,220);
    font-family: sans-serif;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}
    body > header {
        background: rgb(0,0,0);
        color: rgb(200,200,200);
        padding: 10px;
        text-align: center;
    }
    body > footer {
        padding: 10px;
        text-align: center;
    }

section {
    background: rgb(255,255,255);
    border-bottom: 1px rgb(200,200,200) solid;
    padding: 10px;
}

h1 {
    font-size: 2.2em;
    font-weight: normal;
    letter-spacing: 0.1em;
    margin: 0px;
    padding-top: 20px;
}

h2 {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0px;
    padding: 10px 0px;
}

h3 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 0px;
    padding: 10px 0px;
}


a:link, a:visited {
    color: rgb(0,0,0);
}

a:focus, a:hover {
    text-decoration: none;
}


.active-pitch {
    background: rgb(200,200,200);
    border: 1px rgb(100,100,100) solid;
}

.inactive-pitch {
    background: rgb(255,255,255);
    border: 1px rgb(200,200,200) solid;
}

.root-pitch {
    background: rgb(100,200,100);
    border: 1px rgb(100,200,100) solid;
}

.form-group {
    display: inline-block;
    padding: 0px 5px;
}

.instrument-markers,
.instrument-string {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
    .instrument-markers li,
    .instrument-string li {
        flex-basis: 100px;
        margin: 1px;
        padding: 5px;
        text-align: center;
    }
    .instrument-string li:first-child {
        flex-basis: 150px;
        padding: 2px;
        text-align: left;
    }
    .instrument-markers li:first-child {
        border-color: rgb(255,255,255);
        flex-basis: 150px;
        padding: 2px;
        text-align: left;
    }
    .instrument-markers strong {
        font-size: 1.4em;
    }

.tuner-form {
    display: flex;
    width: 100%;
}
    .tuner-form > select {
        flex-grow: 2;
    }
    .tuner-form > input {
        flex-grow: 1;
    }

#app-settings {
    text-align: center;
}
    #app-settings > form, #app-settings > nav {
        display: inline-block;
        padding: 0px 10px 10px 10px;
    }
    #app-settings button, #app-settings label {
        margin: 5px;
    }

