body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 62.5%;
}

.active-pitch {
    background: rgb(200,200,200);
}

.root-pitch {
    background: rgb(100,200,100);
}

.form-group {
    display: inline-block;
    padding: 0px 5px;
}

#fretboard table {
    font-size: 0.9em;
    overflow: auto;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
#fretboard td {
    border: 1px rgb(200,200,200) solid;
    height: 3em;
    width: 3em;
}
#fretboard td:first-child,
#fretboard td:last-child {
    width: 1em;
}
#fretboard td.fret-marker {
    font-size: 2em;
    height: 1em;
}
#fretboard td select {
    width: 100%;
}
